<h1>List of Movies</h1>
<ul>
<% @movies.each do |movie|%>
<li><h3><%= movie.title %><h3></li>
<p><%= movie.description %></p>
<li><%= link_to "Write a Review", new_movie_review_path(movie.id)%></li>
<% end %>

<ul>