<div id="movielist">
<h1>List of Movies</h1>



<% @movies.each do |movie|%>
<div id= "mc">
<% if movie.image.attached? %>
<%= image_tag url_for(movie.image) %>
<%end%>
<h3><%= link_to movie.title, movie_path(movie) %><h3>
<p><%= movie.description %></p>
<%= link_to "Write a Review", new_movie_review_path(movie.id)%>
</div>
<% end %>


</div>