<h1>All the Reviews</h1> 

<% @reviews.each do |review| %>
<ul>
<li>
<%= review.movie.title %>: <%= link_to review.title, review_path(review) %> - <%= review.stars%>
</li>
</ul>
<%= link_to "Delete", review, method: :delete, data: { confirm: "Really?" } %>
<% end %>

  